.ping-logo {
    margin-top: 50px;
    text-align: center;
}

.ping-subscribe-content {
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}

#ping-img {
    margin-top: 0px;
    max-width: 35%;
    max-height: 35%;
}

.ping-footer {
    position: absolute;
    bottom: 0;
    margin-left: 45%;
}

.social-icons {
    font-size: 25px;
    color: #4d7bf3;
    border: 50px;
}

.fa-facebook {
    border-radius: 360%;
    transition-duration: 0.7s;
    background-color: white;
}

.fa-facebook:hover {
    background-color: #4d7bf3;
    border-radius: 100px;
    font-size: 40px;
    color: white;
}

.fa-twitter {
    border-radius: 360%;
    transition-duration: 0.7s;
    background-color: white;
}

.fa-twitter:hover {
    background-color: #4d7bf3;
    border-radius: 100px;
    font-size: 40px;
    color: white;
}

.fa-instagram {
    border-radius: 360%;
    transition-duration: 0.7s;
    background-color: white;
}

.fa-instagram:hover {
    background-color: #4d7bf3;
    border-radius: 100px;
    font-size: 40px;
    color: white;
}

#email {
    border-radius: 25px;
    height: 40px;
    width: 300px;
    outline: 0;
    border-color: grey;
    text-align: center;
    font-size: 20px;
    color: grey;
}

#notify {
    border-radius: 25px;
    background-color: #4d7bf3;
    border-color: transparent;
    color: white;
    transition-duration: 0.4s;
    height: 45px;
    width: 150px;
    outline: 0;
    font-size: 15px;
}

#notify:hover {
    background-color: rgb(120, 155, 243);
    color: white;
}

#email-error {
    color: red;
    font-size: 15px;
}

.ping-illustration {
    margin-top: 4%;
}