body {
    min-width: 200px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.ping-logo {
    max-width: 86px;
    margin: 0 auto;
    margin-top: 10%;
}

.ping-subscribe-content {
    max-width: 500px;
    font-size: 1.45em;
    margin: 0 auto;
}

h2 {
    font-size: inherit;
}

#launch-text {
    color: grey;
}

#ping-img {
    max-width: 100%;
}