body,
html {
    min-width: 200px;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

.ping-logo {
    max-width: 86px;
    margin: 0 auto;
    margin-top: 10%;
}

.ping-subscribe-content {
    margin: 0 auto;
}

h1 {
    margin-bottom: 0px;
    text-align: center;
    font-weight: 300;
}

#subscribe-text {
    text-align: center;
}

.ping-subscribe-form {
    margin-top: 5%;
}

#email {
    border-radius: 25px;
    width: 60%;
    height: 4em;
    border: solid 0.5px hsl(221, 29%, 89%);
    outline: none;
    padding-left: 5%;
    padding-right: 5%;
}

#notify {
    border-radius: 25px;
    width: 14em;
    height: 4em;
    border: solid 0.5px;
    background-color: hsl(223, 87%, 63%);
    color: white;
    outline: none;
    font-family: 'Libre Franklin', sans-serif;
}

#notify:hover {
    background-color: hsl(223, 100%, 88%);
}

#email-error {
    color: hsl(354, 100%, 66%);
    font-weight: 700;
    font-style: italic;
    font-size: 12px;
    padding-left: 5%;
    font-weight: 300;
}

#launch-text {
    color: grey;
}

#ping-img {
    max-width: 100%;
    margin-top: 8%;
}

.ping-footer {
    margin-top: 5%;
}

.social-icons {
    max-width: 80px;
    margin: 0 auto;
}

.ping-copyright {
    text-align: center;
    font-size: 65%;
}

.social-icons a {
    color: hsl(223, 87%, 63%);
}

.ping-copyright {
    color: hsl(0, 0%, 59%)
}

.social-icons a:hover {
    color: white;
    background-color: hsl(223, 87%, 63%);
    border-radius: 50px;
}